/* Custom CSS */

.img-fluid {
    height: 100%;
}

.btn-farmer {
    padding: 10px !important;
    background-color: #64a19d;
    color: white;
}

.cont-btn-displayProducts button{
    /* height: 10%;
    width: 10%; */
}

i>.fa-seedling{
    box-sizing: content-box !important;
}

.displayProducts .btn{
    /* padding: 10px !important; */
    padding: .25rem .5rem;

}
.displayProducts p{
    margin: 10px !important;
}
.bottom-card{
   margin-block-start: 20% !important;
}

.contDisplayProductsByFarmer{
    height: 40%;
    width: 20%;
    /* margin-right: 5%; */
}


.imgDisplayProductsByFarmer{
    height: 100%;
    width: 100%;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;

}

.updateForm{
    margin-top: 2%;
}