/* Custom CSS */

.img-fluid {
    /* height: 100%; */
}

.btn-farmer {
    padding: 10px !important;
    background-color: #64a19d;
    color: white;
}

/* .cont-btn-displayProducts button{
    height: 10%;
    width: 10%;
} */

i>.fa-seedling{
    box-sizing: content-box !important;
}

.displayProducts .btn{
    /* padding: 10px !important; */
    padding: .25rem .5rem;

}
.displayProducts p{
    margin: 10px !important;
}
.bottom-card{
   margin-block-start: 20% !important;
}

.contDisplayProductsByFarmer{
    height: 40%;
    width: 20%;
    /* margin-right: 5%; */
}


.imgDisplayProductsByFarmer{
    height: 100%;
    width: 100%;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;

}

.updateForm{
    margin-top: 2%;
}

/* Pricing */
section.pricing {
    background: linear-gradient(to right, #f8f9fa, #92bdba);
    
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
  /* Pricing */